<!-- szczegoly produktu -->
<super-prodzekt-nx-product-details></super-prodzekt-nx-product-details>

<!-- promowane produkty -->
<div class="container">
  <super-prodzekt-nx-typical-super-card title="promowane produkty">
    <super-prodzekt-nx-displayer [displayType]="DisplayType.PROMOTED"></super-prodzekt-nx-displayer>
  </super-prodzekt-nx-typical-super-card>
</div>

<!-- banner reklamowy -->
<div class="container" style="background-color: white; height: 100px">
  tu będzie migoczący bannerek
</div>
